.wellcomeMessage{
    text-align: center;
    flex: 1;
}

.wellcomeMessage p{
    font-size: 1.6rem;
    padding: 1.3em;
    font-weight: bold;
}

@media (max-width: 756px) {
    .wellcomeMessage .product-list{
        padding: 1em 2em;
    }
}
