.card {
    border-radius: 0;
    transition: all .3s;
}

.card:hover {
    box-shadow: 3px 5px 10px var(--color-fifth);
}

.card .header{
    padding: 1em;
}

.btn {
    border-radius: 0;
}

.btn-secondary {
    background-color: var(--color-first);
    border-color: var(--color-first);
}

.btn-secondary:hover {
    background-color: var(--color-second);
    color: var(--color-first);
    border-color: var(--color-first);
}

.dark .btn-secondary {
    background-color: var(--color-fourth);
    border-color: var(--color-fourth);
}

.dark .btn-secondary:hover {
    background-color: var(--color-second);
    color: var(--color-fourth);
}
