.card {
    border-radius: 0;
    transition: all .3s;
}

.card:hover {
    box-shadow: 3px 5px 10px rgb(105, 47, 241);
}

.card .header{
    padding: 1em;
}

.btn {
    border-radius: 0;
}

.btn-secondary {
    background-color: rgb(119, 9, 55);
}

.btn-secondary:hover {
    background-color: rgb(223, 210, 247);
    color: rgb(119, 9, 55);
}

